@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --background: #68ABAD;
  --foreground: #070707;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F1724;
    --foreground: #ededed;
  }

}

.bg-custom {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}
